<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> <img src="/img/mit.png" alt="MIT Logo"> Hello {{ processed_data1 }}!</h1>
    <br>
    <form action="/computation" method="post">
        <label for="input1">Input field (your name):</label>
        <input type="text" id="input1" name="input_data1" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
